
.video-container {
  height: fit-content;
  /* position: relative; Ensure relative positioning for absolute children */
}

.video-container video {
  position: absolute;
  top: 180px;
  left: 150px;
  /* top: 170px; Adjust as needed */
}

.cropper {
  /* top: 180px; Adjust positioning relative to video */
  position: absolute;
  top: 190px;
  left: 150px;;
  cursor: ew-resize;
  z-index: 1; /* Ensure cropper stays above video */
}

.vertical-line {
  position: absolute;
  width: 1px;
  height: 100%;
  background: #d9d9d9;
}

.vertical-line.left {
  left: 0;
}

.vertical-line.right {
  right: 0;
}

.dashed-line {
  position: absolute;
  width: 0px; /* Adjust as needed */
  height: 100%;
  border: 1px dashed #ffffff;
}

.dashed-line.dashed-line-1 {
  left: 33%; /* Adjust positioning */
}

.dashed-line.dashed-line-2 {
  left: 66%; /* Adjust positioning */
}

.horizontal-group {
  position: absolute;
  width: 100%;
  height: 33%;
  top: calc(33%); /* Adjust positioning */
}

.horizontal-dashed-line {
  position: absolute;
  width: 100%;
  height: 0px; /* Adjust as needed */
  border: 1px dashed #ffffff;
}

.horizontal-dashed-line:first-child {
  top: 0;
}

.horizontal-dashed-line:last-child {
  bottom: 0;
}

.cropped-preview {
  position: absolute;
  right: 0;
  bottom: 0;
  border: 1px dashed red; /* Example border for visualization */
}
